{% extends 'recipewizard/layout.html' %}

{% load static %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center mb-2">
            <h2 class="col-auto">My Account</h2>
        </div>
        <hr>
        <div class="row justify-content-center mb-2">
            <p class="col-1 my-auto text-right"><b>Username: </b></p>
            <input type="text" class="form-control col-2 my-auto" readonly value="{{ request.user.username }}">
            <button class="ml-2 btn btn-primary my-auto" data-toggle="modal" data-target="#usernameModal">Update</button>
        </div>
        <div class="row justify-content-center mb-2">
            <p class="col-1 my-auto text-right"><b>Email: </b></p>
            <input type="text" class="form-control col-2 my-auto" readonly value="{{ request.user.email }}">
            <button class="ml-2 btn btn-primary my-auto" data-toggle="modal" data-target="#emailModal">Update</button>
        </div>
        <div class="row justify-content-center mb-2">
            <p class="col-1 my-auto text-right"><b>Password: </b></p>
            <input type="text" class="form-control col-2 my-auto" readonly value="********">
            <button class="ml-2 btn btn-primary my-auto" data-toggle="modal" data-target="#passwordModal">Update</button>
        </div>

        <div class="modal fade" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="usernameModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="usernameModalLabel">Update Username</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="updateUsernameForm" class="form" action="{% url 'account_update' %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="username" class="form-control" placeholder="New Username" required>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-primary" type="submit" form="updateUsernameForm" value="Submit">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="emailModalLabel">Update Email Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="updateEmailForm" class="form-group" action="{% url 'account_update' %}" method="post" >
                            {% csrf_token %}
                            <input type="email" name="oldEmail" class="form-control" placeholder="Old Email" required>
                            <input type="email" name="email" id="email-input" class="form-control" placeholder="New Email" required>
                            <input type="email" name="emailConfirm" id="email-confirm-input" class="form-control" placeholder="Confirm New Email" required>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-primary" type="submit" form="updateEmailForm" value="Submit">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="passwordModalLabel">Update Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="updatePasswordForm" class="form" action="{% url 'account_update' %}" method="post">
                            {% csrf_token %}
                            <input type="password" name="oldPassword" class="form-control" placeholder="Old Password" required>
                            <input type="password" name="password" id="password-input" class="form-control" placeholder="New Password" required>
                            <input type="password" name="passwordConfirm" id="password-confirm-input" class="form-control" placeholder="Confirm New Password" required>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-primary" type="submit" form="updatePasswordForm" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'account/account.js' %}"></script>
{% endblock %}