{% extends 'recipewizard/layout.html' %}

{% block body %}
    <div class="container-fluid">
        <h1 class="row justify-content-center">{{ title }}</h1>
        <hr>
        <form class="form-group row justify-content-center" action="{% url 'search' 1 %}">
            <input type="text" name="q" placeholder="Search" class="form-control col-md-5 col-3">
            <input type="hidden" name="m" value="{{search_mode}}">
            <i class="fa-solid fa-magnifying-glass order-1 search fa-lg"></i>
        </form>
        {% for recipe in recipes %}
            <a href="{% url 'recipe' recipe.id %}" class="row justify-content-center">
                <div class="border p-2 mb-3 col-md-5 col-3 d-flex flex-row">
                    <img src="{{ recipe.image }}" class="recipe-img-sm col-2">
                    <div class="d-flex flex-column">
                        <h4 class="w-100">{{ recipe.name }}</h4>
                        <p>{{ recipe.description }}</p>
                    </div>
                </div>
            </a>
        {% empty %}
            <li>Nothing here yet...</li>
        {% endfor %}
        <div class="row justify-content-center">
            <div class="col-md-5 col-3 d-flex">
                <form action="{% url page_url page|add:"-1" %}" class="mr-auto">
                    {% if page > 1 %}
                        <input type="submit" class="btn btn-primary" value="Prev">
                        {% if request.GET.q %}
                            <input type="hidden" name="q" value="{{request.GET.q}}">
                            <input type="hidden" name="m" value="{{request.GET.m}}">
                        {% endif %}
                    {% endif %}
                </form>
                <form action="{% url page_url page|add:"1" %}">
                    {% if page|add:"1" <= max_pages %}
                        <input type="submit" class="btn btn-primary" value="Next">
                        {% if request.GET.q %}
                            <input type="hidden" name="q" value="{{request.GET.q}}">
                            <input type="hidden" name="m" value="{{request.GET.m}}">
                        {% endif %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}