{% extends 'recipewizard/layout.html' %}

{% load static %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center mb-2">
            <h2 class="col-auto">{{ name }}</h2>
            <button class="btn btn-primary" id="save-recipe" data-id="{{ id }}">{% if saved %}Unsave{% else %}Save{% endif %}</button>
        </div>
        <div class="row justify-content-center mb-2">
            <img src="{{ image }}" class="recipe-img">
        </div>
        <div class="row justify-content-center">
            <p>{{ description }}</p>
        </div>
        <div class="row justify-content-center">
            <a href="{{ url }}">View recipe on external site.</a>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-1 mt-1">Serving Count: </div>
            <input type="number" name="servingCount" class="form-control col-1" value="{{servings}}" id="serving-count">
        </div>
        <div class="row justify-content-center">
            <table class="mx-auto w-auto table table-responsive">
                <thead>
                    <th scope="col">Ingredient</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Measurement</th>
                    <th scope="col"/>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr class="ingredient-row" data-amount-user-has="{{ ingredient.amount_user_has }}">
                            <td class="ingredient-name">{{ ingredient.name }}</td>
                            <td class="ingredient-amount" data-original-amount="{{ingredient.amount}}">{{ ingredient.amount }}</td>
                            <td class="ingredient-unit">{{ ingredient.unit }}</td>
                            <td><div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                      </svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item ingredient-dropdown" href="#" data-ingredient-name="{{ ingredient.name }}" data-toggle="modal" data-target="#aliasModal">Add Alias</a>
                                  </div>
                            </div></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary col-2" id="btn-populate-shopping-list" data-endpoint="{% url 'batch_add_to_shopping_list' %}">Add missing ingredients to shopping list</button>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary col-2" data-toggle="modal" data-target="#cookedModal">Mark recipe as cooked</button>
            
            <button id="btn-show-updated-modal" hidden data-toggle="modal" data-target="#shoppingListUpdatedModal"/>
            <button id="btn-show-kitchen-updated-modal" hidden data-toggle="modal" data-target="#kitchenUpdatedModal"/>
        </div>

        <div class="modal fade" id="shoppingListUpdatedModal" tabindex="-1" role="dialog" aria-labelledby="shoppingListUpdatedModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="shoppingListUpdatedModalLabel">Missing Ingredients Added</h5>
                    </div>
                    <div class="modal-body">
                        <p>Missing ingredients have been successfully added to your shopping list.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="btn-shopping-list-updated-ok" data-redirect="{% url 'shoppinglist' %}">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="kitchenUpdatedModal" tabindex="-1" role="dialog" aria-labelledby="kitchenUpdatedModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="kitchenUpdatedModalLabel">Operation Status</h5>
                    </div>
                    <div class="modal-body">
                        <p id="kitchen-updated-status-message">Ingredients in your kitchen have been updated.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="btn-kitchen-updated-ok" data-redirect="{% url 'kitchen' %}" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cookedModal" tabindex="-1" role="dialog" aria-labelledby="cookedModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cookedModalLabel">Mark as Cooked</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input id="cooked-form-serving-count" type="number" class="form-control" placeholder="Serving Count" min="1" max="100" step="1">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" type="submit" id="btn-cooked-form" data-action-url="{% url 'deduct_ingredients_from_kitchen' %}">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="aliasModal" tabindex="-1" role="dialog" aria-labelledby="aliasModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="aliasModalLabel">Add Alias</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addAliasForm" class="form" action="{% url 'add_ingredient_alias' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="alias" class="alias-form-alias-name">
                            <input type="hidden" name="recipe_id" value="{{ id }}">
                            <select name="ingredient_id" class="form-control" placeholder="Unit" form="addAliasForm">
                                <option value="" disabled selected>Alias</option>
                                {% for ingredient in user_ingredients %}
                                    <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" form="addAliasForm" value="Submit">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'recipewizard/recipe_view.js' %}"></script>
{% endblock %}