{% extends 'recipewizard/layout.html' %}

{% load static %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center mb-2">
            <h2 class="col-auto">{{ name }}</h2>
            <button class="btn btn-primary" id="save-recipe" data-id="{{ id }}">{% if saved %}Unsave{% else %}Save{% endif %}</button>
        </div>
        <div class="row justify-content-center mb-2">
            <img src="{{ image }}" class="recipe-img">
        </div>
        <div class="row justify-content-center">
            <p>{{ description }}</p>
        </div>
        <div class="row justify-content-center">
            <a href="{{ url }}">View recipe on external site.</a>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-1 mt-1">Serving Count: </div>
            <input type="number" name="servingCount" class="form-control col-1" value="{{servings}}" id="serving-count">
        </div>
        <div class="row justify-content-center">
            <table class="mx-auto w-auto table table-responsive">
                <thead>
                    <th scope="col">Ingredient</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Measurement</th>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr class="ingredient-row" data-amount-user-has="{{ ingredient.amount_user_has }}">
                            <td class="ingredient-name">{{ ingredient.name }}</td>
                            <td class="ingredient-amount" data-original-amount="{{ingredient.amount}}">{{ ingredient.amount }}</td>
                            <td class="ingredient-unit">{{ ingredient.unit }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary col-2" id="btn-populate-shopping-list" data-endpoint="{% url 'batch_add_to_shopping_list' %}">Add missing ingredients to shopping list</button>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary col-2" data-toggle="modal" data-target="#cookedModal">Mark recipe as cooked</button>
            
            <button id="btn-show-updated-modal" hidden data-toggle="modal" data-target="#shoppingListUpdatedModal"/>
        </div>

        <div class="modal fade" id="shoppingListUpdatedModal" tabindex="-1" role="dialog" aria-labelledby="shoppingListUpdatedModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="shoppingListUpdatedModalLabel">Missing Ingredients Added</h5>
                    </div>
                    <div class="modal-body">
                        <p>Missing ingredients have been successfully added to your shopping list.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="btn-shopping-list-updated-ok" data-redirect="{% url 'shoppinglist' %}">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cookedModal" tabindex="-1" role="dialog" aria-labelledby="cookedModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cookedModalLabel">Mark as Cooked</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="cookedForm" class="form">
                            <p>How many servings did you cook?</p>
                            <input type="text" class="form-control" placeholder="Serving Count">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" type="submit" form="cookedForm">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'recipewizard/recipe_view.js' %}"></script>
{% endblock %}